.QuotesContainer {
    text-align: center;
    background-color: bisque;
}

img {
    height: 200px;
}

.showBtn {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border-radius: 20%;
    font-size: 20px;
}

.showBtn:focus {
    outline: none;
}
